body {
    font-family: Arial;
}

.akron-bckgrd {
    background-image: url("../assets/images/fondo.jpg");
}

a {
    text-decoration: none !important;
    color: #ffffff;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

div#div_top_menu {
    background-color: #28a745;
    height: 30px;
}

.first-level-menu, .second-level-menu, .third-level-menu{
    list-style: none;
    color: white;
}

.second-level-menu, .third-level-menu{
    text-align: left;
}

/*menu de tercer nivel*/
/*ul li ul li ul li {*/

.third-level-menu li {
    position: relative;
    left: 150px;
    width: 130px;
    background-color: #28a745;
    z-index: 10;
}

/*ul li ul li ul li:hover {*/
.third-level-menu li:hover {
    background-color: #34ce57;
}

/*ul li ul li ul {*/
.third-level-menu {
    display: none;
    position: absolute;
    top: 10px;
    right: -150px;
    left: 10px;
    width: 50px;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 10;
}

/*ul li ul li:hover > ul {*/
.second-level-menu li:hover > ul {
    display: block;
}

/*menu de segundo nivel*/

/*ul li ul {*/
.second-level-menu {
    display: none;
    position: absolute;
    top: 30px;
    left: 0px;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 10;
}

/*ul li ul li {*/
.second-level-menu li {
    background-color: #28a745;
    width: 200px;
    height: 30px;
}

/*ul li ul li:hover {*/
.second-level-menu li:hover {
    background-color: #34ce57;
}

/*menu de primer nivel*/
/*ul li {*/
.first-level-menu li {
    background-color: #28a745;
    position: relative;
    height: 30px;
    width: 160px;
    z-index: 10;
}

/*ul li:hover {*/
.first-level-menu li:hover {
    background-color: #34ce57;
}

/*ul li:hover > ul {*/
.first-level-menu li:hover > ul {
    display: inline;
}

.list-group-item:hover {
    background-color: #34ce57;
    color: white;
}
